USE [GolpaMotor]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](200) NULL,
	[ProvinceID] [int] NULL,
	[CityID] [int] NULL,
	[Address] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[ProfileImageUrl] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsConfirmedCode] [bit] NOT NULL,
	[RegisterDate] [datetime2](7) NOT NULL,
	[CreditCartNumber] [nvarchar](20) NULL,
	[IBAN] [nvarchar](50) NULL,
	[AccountNumber] [nvarchar](50) NULL,
	[TotalEarnedPoints] [int] NULL,
	[TotalSettledPoints] [int] NULL,
	[RemainedPoints] [int] NULL,
	[TotalRegisteredCards] [int] NULL,
	[VerificationCodeHash] [nvarchar](50) NULL,
	[VerificationCodeSalt] [nvarchar](50) NULL,
	[VerificationCodeExpiresAt] [datetime2](7) NULL,
	[VerificationCodePurpose] [nvarchar](50) NULL,
	[VerificationCodeAttempts] [int] NOT NULL,
	[VerificationCodeDestination] [nvarchar](50) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardRegistrations]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardRegistrations](
	[CardRegisterationID] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](100) NOT NULL,
	[ScratchedCode] [nvarchar](100) NOT NULL,
	[CustomerPhoneNumber] [nvarchar](13) NOT NULL,
	[UserID] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[FaildMessage] [nvarchar](500) NULL,
	[SuccessMessage] [nvarchar](500) NULL,
	[IsApproved] [bit] NOT NULL,
	[WarrantyCardID] [bigint] NOT NULL,
	[EarnedPionts] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_CardRegistrations] PRIMARY KEY CLUSTERED 
(
	[CardRegisterationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ProvinceID] [int] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTypes]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTypes](
	[CustomerTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CustomerTypes] PRIMARY KEY CLUSTERED 
(
	[CustomerTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransactions]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransactions](
	[PaymentTransactionID] [bigint] IDENTITY(1,1) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[TransactionTypeID] [int] NOT NULL,
	[ReferenceNumber] [nvarchar](50) NOT NULL,
	[FishImage] [nvarchar](500) NULL,
	[OriginNumber] [nvarchar](100) NULL,
	[DestinationNumber] [nvarchar](100) NULL,
	[OriginBank] [nvarchar](100) NULL,
	[DestinationBank] [nvarchar](100) NULL,
	[RegisteredByUserId] [nvarchar](max) NOT NULL,
	[PaymentAmount] [decimal](18, 2) NOT NULL,
	[BalanceBeforeTransaction] [decimal](18, 2) NOT NULL,
	[BalanceAfterTransaction] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_PaymentTransactions] PRIMARY KEY CLUSTERED 
(
	[PaymentTransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PointTransactions]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointTransactions](
	[PointTransactionID] [int] IDENTITY(1,1) NOT NULL,
	[PointTransactionDate] [datetime2](7) NULL,
	[PointsAmount] [int] NOT NULL,
	[PointsBeforeTransaction] [int] NOT NULL,
	[PointsAfterTransaction] [int] NOT NULL,
	[Description] [nvarchar](200) NULL,
	[RewardDeliveryStatusID] [int] NULL,
	[ReferencePostNumber] [nvarchar](50) NULL,
	[RewardRequestID] [int] NULL,
	[PaymentTransactionID] [bigint] NULL,
	[UserID] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PointTransactions] PRIMARY KEY CLUSTERED 
(
	[PointTransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
	[ProductPoint] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[ProvinceID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RewardCatalogs]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RewardCatalogs](
	[RewardCatalogID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](400) NULL,
	[RequiredPoints] [int] NOT NULL,
	[IsCashReward] [bit] NOT NULL,
	[CashValue] [decimal](18, 2) NULL,
 CONSTRAINT [PK_RewardCatalogs] PRIMARY KEY CLUSTERED 
(
	[RewardCatalogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RewardDeliveryStatuses]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RewardDeliveryStatuses](
	[RewardDeliveryStatusID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](400) NULL,
 CONSTRAINT [PK_RewardDeliveryStatuses] PRIMARY KEY CLUSTERED 
(
	[RewardDeliveryStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RewardRequests]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RewardRequests](
	[RewardRequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](450) NOT NULL,
	[RewardCatalogID] [int] NOT NULL,
	[RequestDate] [datetime2](7) NULL,
	[IsComplete] [bit] NOT NULL,
 CONSTRAINT [PK_RewardRequests] PRIMARY KEY CLUSTERED 
(
	[RewardRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportTickets]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportTickets](
	[SupportTicketID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](3000) NOT NULL,
	[Answer] [nvarchar](3000) NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[AnswerDate] [datetime2](7) NULL,
	[IsAnswered] [bit] NOT NULL,
	[Priority] [tinyint] NOT NULL,
	[IsClosed] [bit] NOT NULL,
 CONSTRAINT [PK_SupportTickets] PRIMARY KEY CLUSTERED 
(
	[SupportTicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTypes]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTypes](
	[TransactionTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TransactionTypes] PRIMARY KEY CLUSTERED 
(
	[TransactionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCustomerTypes]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCustomerTypes](
	[UserID] [nvarchar](450) NOT NULL,
	[CustomerTypeID] [int] NOT NULL,
 CONSTRAINT [PK_UserCustomerTypes] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[CustomerTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WarrantyCards]    Script Date: 7/23/2026 12:05:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WarrantyCards](
	[WarrantyCardID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [bigint] NOT NULL,
	[SerialNumber] [nvarchar](100) NOT NULL,
	[ScratchedCode] [nvarchar](100) NOT NULL,
	[ValidityMonths] [int] NOT NULL,
	[IsRegistered] [bit] NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_WarrantyCards] PRIMARY KEY CLUSTERED 
(
	[WarrantyCardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260620172851_initNew', N'8.0.27')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260622164100_AddSupportTicket', N'8.0.27')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260622165623_ChangeNameTableSupportTicketToUpperS', N'8.0.27')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'8fb2436d-c98c-4bba-965b-5c082b16cc43', N'Employee', N'EMPLOYEE', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'd0ca5c9b-9f6a-4ecc-a160-de03897024a1', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'fadf1dfc-0331-465c-943d-40f15e3482df', N'Customer', N'CUSTOMER', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'72542f95-97c3-4738-87ee-85ceb8a82498', N'd0ca5c9b-9f6a-4ecc-a160-de03897024a1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'06400a06-58d6-491c-a2ed-24542dab9de8', N'fadf1dfc-0331-465c-943d-40f15e3482df')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'09c7742f-b496-4cf6-b471-231de28326c6', N'fadf1dfc-0331-465c-943d-40f15e3482df')
GO
SET IDENTITY_INSERT [dbo].[CardRegistrations] ON 

INSERT [dbo].[CardRegistrations] ([CardRegisterationID], [SerialNumber], [ScratchedCode], [CustomerPhoneNumber], [UserID], [CreatedAt], [FaildMessage], [SuccessMessage], [IsApproved], [WarrantyCardID], [EarnedPionts], [UpdatedAt]) VALUES (1016, N'100000000001', N'200000000001', N'09122589663', N'e4e5fda5-3bab-4af2-9ade-00c413be11a1', CAST(N'2026-07-21T13:15:06.1539810' AS DateTime2), NULL, NULL, 0, 16, 0, NULL)
INSERT [dbo].[CardRegistrations] ([CardRegisterationID], [SerialNumber], [ScratchedCode], [CustomerPhoneNumber], [UserID], [CreatedAt], [FaildMessage], [SuccessMessage], [IsApproved], [WarrantyCardID], [EarnedPionts], [UpdatedAt]) VALUES (1017, N'100000000002', N'200000000002', N'09122589663', N'e4e5fda5-3bab-4af2-9ade-00c413be11a1', CAST(N'2026-07-21T13:15:06.2994631' AS DateTime2), NULL, NULL, 0, 17, 0, NULL)
INSERT [dbo].[CardRegistrations] ([CardRegisterationID], [SerialNumber], [ScratchedCode], [CustomerPhoneNumber], [UserID], [CreatedAt], [FaildMessage], [SuccessMessage], [IsApproved], [WarrantyCardID], [EarnedPionts], [UpdatedAt]) VALUES (1018, N'100000100001', N'200000100001', N'09125553636', N'bd08e2e9-778b-4356-a5d6-83d7f5e030a5', CAST(N'2026-07-21T13:27:06.9359742' AS DateTime2), NULL, NULL, 0, 6, 0, NULL)
SET IDENTITY_INSERT [dbo].[CardRegistrations] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([CityID], [Name], [ProvinceID]) VALUES (1, N'تهران', 1)
INSERT [dbo].[Cities] ([CityID], [Name], [ProvinceID]) VALUES (2, N'اسلامشهر', 1)
INSERT [dbo].[Cities] ([CityID], [Name], [ProvinceID]) VALUES (3, N'شهریار', 1)
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerTypes] ON 

INSERT [dbo].[CustomerTypes] ([CustomerTypeID], [Title]) VALUES (1, N'نمایندگی')
INSERT [dbo].[CustomerTypes] ([CustomerTypeID], [Title]) VALUES (2, N'خرده فروش')
INSERT [dbo].[CustomerTypes] ([CustomerTypeID], [Title]) VALUES (3, N'لوازم فروش')
SET IDENTITY_INSERT [dbo].[CustomerTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[PointTransactions] ON 

INSERT [dbo].[PointTransactions] ([PointTransactionID], [PointTransactionDate], [PointsAmount], [PointsBeforeTransaction], [PointsAfterTransaction], [Description], [RewardDeliveryStatusID], [ReferencePostNumber], [RewardRequestID], [PaymentTransactionID], [UserID]) VALUES (1, CAST(N'2026-06-22T15:45:37.2912861' AS DateTime2), 10, 0, 0, N'ثبت کارت گارانتی', NULL, NULL, NULL, NULL, N'ea45a774-5e79-4f39-9e5b-bc711b5d9e2d')
INSERT [dbo].[PointTransactions] ([PointTransactionID], [PointTransactionDate], [PointsAmount], [PointsBeforeTransaction], [PointsAfterTransaction], [Description], [RewardDeliveryStatusID], [ReferencePostNumber], [RewardRequestID], [PaymentTransactionID], [UserID]) VALUES (2, CAST(N'2026-06-24T09:31:17.7106820' AS DateTime2), 10, 0, 0, N'ثبت کارت گارانتی', NULL, NULL, NULL, NULL, N'8986f12b-fb25-43d1-91d7-fe702148ca3b')
INSERT [dbo].[PointTransactions] ([PointTransactionID], [PointTransactionDate], [PointsAmount], [PointsBeforeTransaction], [PointsAfterTransaction], [Description], [RewardDeliveryStatusID], [ReferencePostNumber], [RewardRequestID], [PaymentTransactionID], [UserID]) VALUES (3, CAST(N'2026-06-24T09:36:58.4937779' AS DateTime2), 10, 0, 0, N'ثبت کارت گارانتی', NULL, NULL, NULL, NULL, N'8986f12b-fb25-43d1-91d7-fe702148ca3b')
SET IDENTITY_INSERT [dbo].[PointTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [ImageUrl], [IsDeleted], [ProductPoint], [IsAvailable]) VALUES (1, N'سرسیلندر', N'داخلی', N'0239e58e_1c70_44c3_a456_ce15d7a5e347_cylinder-head.jpg', 0, 3, 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [ImageUrl], [IsDeleted], [ProductPoint], [IsAvailable]) VALUES (2, N'باتری ماشین', N'داخلی ', N'383113da_0784_486d_92f7_3068be1d735a_car-battery.jpg', 0, 2, 1)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Description], [ImageUrl], [IsDeleted], [ProductPoint], [IsAvailable]) VALUES (3, N'هدلایت', N'ایرانی', N'2c361791_0d54_4141_bffa_4c17f0ddd7bd_headlight.jpg', 0, 2, 0)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Provinces] ON 

INSERT [dbo].[Provinces] ([ProvinceID], [Name]) VALUES (1, N'تهران')
INSERT [dbo].[Provinces] ([ProvinceID], [Name]) VALUES (2, N'اصفهان')
INSERT [dbo].[Provinces] ([ProvinceID], [Name]) VALUES (3, N'خراسان رضوی')
SET IDENTITY_INSERT [dbo].[Provinces] OFF
GO
SET IDENTITY_INSERT [dbo].[RewardCatalogs] ON 

INSERT [dbo].[RewardCatalogs] ([RewardCatalogID], [Title], [Description], [RequiredPoints], [IsCashReward], [CashValue]) VALUES (1, N'لباس کار', N'لباس کار صنعتی', 500, 0, NULL)
INSERT [dbo].[RewardCatalogs] ([RewardCatalogID], [Title], [Description], [RequiredPoints], [IsCashReward], [CashValue]) VALUES (2, N'جعبه ابزار', N'جعبه ابزار 24 پارچه', 800, 0, NULL)
INSERT [dbo].[RewardCatalogs] ([RewardCatalogID], [Title], [Description], [RequiredPoints], [IsCashReward], [CashValue]) VALUES (3, N'آچار بکس', N'ست آچار بکس حرفه‌ای', 1200, 0, NULL)
SET IDENTITY_INSERT [dbo].[RewardCatalogs] OFF
GO
SET IDENTITY_INSERT [dbo].[RewardDeliveryStatuses] ON 

INSERT [dbo].[RewardDeliveryStatuses] ([RewardDeliveryStatusID], [Title], [Description]) VALUES (1, N'در انتظار بررسی', NULL)
INSERT [dbo].[RewardDeliveryStatuses] ([RewardDeliveryStatusID], [Title], [Description]) VALUES (2, N'تایید شده', NULL)
INSERT [dbo].[RewardDeliveryStatuses] ([RewardDeliveryStatusID], [Title], [Description]) VALUES (3, N'رد شده', NULL)
SET IDENTITY_INSERT [dbo].[RewardDeliveryStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportTickets] ON 

INSERT [dbo].[SupportTickets] ([SupportTicketID], [UserID], [Title], [Message], [Answer], [CreateDate], [AnswerDate], [IsAnswered], [Priority], [IsClosed]) VALUES (1, N'72542f95-97c3-4738-87ee-85ceb8a82498', N'مشکل در فعال سازی گارانتی محصول', N'سلام

برای ثبت گارانتی محصول نیاز به راهنمایی دارم. لطفاً نحوه فعال‌سازی گارانتی و شرایط استفاده از آن را اعلام فرمایید.

ممنون', NULL, CAST(N'2026-06-22T22:09:09.6682757' AS DateTime2), NULL, 0, 2, 0)
INSERT [dbo].[SupportTickets] ([SupportTicketID], [UserID], [Title], [Message], [Answer], [CreateDate], [AnswerDate], [IsAnswered], [Priority], [IsClosed]) VALUES (2, N'87fcda16-260f-47ba-973e-61c3a8b9188c', N'خراب شدن عدد کدگارانتی ', N'کدگارانتی ام مخدوش شده و نمیتونم ثبت کنم گارانتی ام رو برای محصولم', NULL, CAST(N'2026-06-22T22:15:22.0708618' AS DateTime2), NULL, 0, 2, 0)
SET IDENTITY_INSERT [dbo].[SupportTickets] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionTypes] ON 

INSERT [dbo].[TransactionTypes] ([TransactionTypeID], [TransactionTypeName]) VALUES (1, N'ثبت کارت گارانتی')
INSERT [dbo].[TransactionTypes] ([TransactionTypeID], [TransactionTypeName]) VALUES (2, N'پاداش ویژه')
INSERT [dbo].[TransactionTypes] ([TransactionTypeID], [TransactionTypeName]) VALUES (3, N'اصلاح امتیاز')
SET IDENTITY_INSERT [dbo].[TransactionTypes] OFF
GO
INSERT [dbo].[UserCustomerTypes] ([UserID], [CustomerTypeID]) VALUES (N'77ecd9d5-fc6a-4d93-852f-869d1f76d367', 2)
INSERT [dbo].[UserCustomerTypes] ([UserID], [CustomerTypeID]) VALUES (N'06400a06-58d6-491c-a2ed-24542dab9de8', 3)
INSERT [dbo].[UserCustomerTypes] ([UserID], [CustomerTypeID]) VALUES (N'45873950-9360-4ed2-b495-99bcebd940a6', 3)
GO
SET IDENTITY_INSERT [dbo].[WarrantyCards] ON 

INSERT [dbo].[WarrantyCards] ([WarrantyCardID], [ProductID], [SerialNumber], [ScratchedCode], [ValidityMonths], [IsRegistered], [Description]) VALUES (1, 2, N'100000500001', N'200000500001', 12, 0, N'گارانتی باتری ماشین')
INSERT [dbo].[WarrantyCards] ([WarrantyCardID], [ProductID], [SerialNumber], [ScratchedCode], [ValidityMonths], [IsRegistered], [Description]) VALUES (2, 2, N'100000500002', N'200000500002', 12, 1, N'گارانتی باتری ماشین')
INSERT [dbo].[WarrantyCards] ([WarrantyCardID], [ProductID], [SerialNumber], [ScratchedCode], [ValidityMonths], [IsRegistered], [Description]) VALUES (3, 2, N'100000500003', N'200000500003', 12, 0, N'گارانتی باتری ماشین')
SET IDENTITY_INSERT [dbo].[WarrantyCards] OFF
GO
ALTER TABLE [dbo].[SupportTickets] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsAnswered]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Cities_CityID] FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([CityID])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Cities_CityID]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Provinces_ProvinceID] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Provinces] ([ProvinceID])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Provinces_ProvinceID]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CardRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_CardRegistrations_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CardRegistrations] CHECK CONSTRAINT [FK_CardRegistrations_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[CardRegistrations]  WITH CHECK ADD  CONSTRAINT [FK_CardRegistrations_WarrantyCards_WarrantyCardID] FOREIGN KEY([WarrantyCardID])
REFERENCES [dbo].[WarrantyCards] ([WarrantyCardID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CardRegistrations] CHECK CONSTRAINT [FK_CardRegistrations_WarrantyCards_WarrantyCardID]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Provinces_ProvinceID] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Provinces] ([ProvinceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Provinces_ProvinceID]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransactions_TransactionTypes_TransactionTypeID] FOREIGN KEY([TransactionTypeID])
REFERENCES [dbo].[TransactionTypes] ([TransactionTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PaymentTransactions_TransactionTypes_TransactionTypeID]
GO
ALTER TABLE [dbo].[PointTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PointTransactions_PaymentTransactions_PaymentTransactionID] FOREIGN KEY([PaymentTransactionID])
REFERENCES [dbo].[PaymentTransactions] ([PaymentTransactionID])
GO
ALTER TABLE [dbo].[PointTransactions] CHECK CONSTRAINT [FK_PointTransactions_PaymentTransactions_PaymentTransactionID]
GO
ALTER TABLE [dbo].[PointTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PointTransactions_RewardDeliveryStatuses_RewardDeliveryStatusID] FOREIGN KEY([RewardDeliveryStatusID])
REFERENCES [dbo].[RewardDeliveryStatuses] ([RewardDeliveryStatusID])
GO
ALTER TABLE [dbo].[PointTransactions] CHECK CONSTRAINT [FK_PointTransactions_RewardDeliveryStatuses_RewardDeliveryStatusID]
GO
ALTER TABLE [dbo].[PointTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PointTransactions_RewardRequests_RewardRequestID] FOREIGN KEY([RewardRequestID])
REFERENCES [dbo].[RewardRequests] ([RewardRequestID])
GO
ALTER TABLE [dbo].[PointTransactions] CHECK CONSTRAINT [FK_PointTransactions_RewardRequests_RewardRequestID]
GO
ALTER TABLE [dbo].[RewardRequests]  WITH CHECK ADD  CONSTRAINT [FK_RewardRequests_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RewardRequests] CHECK CONSTRAINT [FK_RewardRequests_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[RewardRequests]  WITH CHECK ADD  CONSTRAINT [FK_RewardRequests_RewardCatalogs_RewardCatalogID] FOREIGN KEY([RewardCatalogID])
REFERENCES [dbo].[RewardCatalogs] ([RewardCatalogID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RewardRequests] CHECK CONSTRAINT [FK_RewardRequests_RewardCatalogs_RewardCatalogID]
GO
ALTER TABLE [dbo].[SupportTickets]  WITH CHECK ADD  CONSTRAINT [FK_SupportTickets_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SupportTickets] CHECK CONSTRAINT [FK_SupportTickets_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[UserCustomerTypes]  WITH CHECK ADD  CONSTRAINT [FK_UserCustomerTypes_AspNetUsers_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserCustomerTypes] CHECK CONSTRAINT [FK_UserCustomerTypes_AspNetUsers_UserID]
GO
ALTER TABLE [dbo].[UserCustomerTypes]  WITH CHECK ADD  CONSTRAINT [FK_UserCustomerTypes_CustomerTypes_CustomerTypeID] FOREIGN KEY([CustomerTypeID])
REFERENCES [dbo].[CustomerTypes] ([CustomerTypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserCustomerTypes] CHECK CONSTRAINT [FK_UserCustomerTypes_CustomerTypes_CustomerTypeID]
GO
ALTER TABLE [dbo].[WarrantyCards]  WITH CHECK ADD  CONSTRAINT [FK_WarrantyCards_Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WarrantyCards] CHECK CONSTRAINT [FK_WarrantyCards_Products_ProductID]
GO
