@using System.ComponentModel
@model IEnumerable<GolpaMotor.Models.ViewModels.UserManagement.UserListItemViewModel>


@if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
{

}
<div class="container">
    @await Component.InvokeAsync("UserList",Model)
</div>

