@model GolpaMotor.Models.ViewModels.Account.LoginWithRecoveryCodeViewModel
@{
    ViewData["Title"] = "Recovery code";
}

<h2>Recovery code</h2>
<form asp-action="LoginWithRecoveryCode" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-2">
        <input asp-for="RecoveryCode" class="form-control" placeholder="Recovery code" />
        <span asp-validation-for="RecoveryCode" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="ReturnUrl" />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
