@model GolpaMotor.Models.ViewModels.Account.ManageViewModel
@{
    ViewData["Title"] = "Manage";
}

<h2>Manage account</h2>
<dl>
    <dt>Email</dt>
    <dd>@Model.Email</dd>
    <dt>User name</dt>
    <dd>@Model.UserName</dd>
</dl>
