<div class="sidebar">

    <h4 class="text-white mb-4">پنل مدیریت </h4>

    <a asp-controller="Admin" asp-action="Index">
        <i class="fa-solid fa-chart-line"></i>
        داشبورد
    </a>

    <a asp-controller="WarrantyManagement" asp-action="Index">
        <i class="fa-solid fa-shield-halved"></i>
         گارانتی ها
    </a>

    <a asp-controller="ProductManagement" asp-action="Index">
        <i class="fa-solid fa-box"></i>
        محصولات
    </a>

    <a asp-controller="UserManagement" asp-action="Index">
        <i class="fa-solid fa-users"></i>
        کاربران
    </a>

    <a asp-controller="ReportManagement" asp-action="Index">
        <i class="fa-solid fa-chart-pie"></i>
        گزارشات
    </a>

    <a asp-controller="Settings" asp-action="Index">
        <i class="fa-solid fa-gear"></i>
        تنظیمات
    </a>

</div>